<div class="content-wrapper">
    <section class="content">
          <!-- Small boxes (Stat box) -->

		<div class="row">
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3>150</h3>
                  <p>New Orders</p>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3>53<sup style="font-size: 20px">%</sup></h3>
                  <p>Bounce Rate</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-yellow">
                <div class="inner">
                  <h3>44</h3>
                  <p>User Registrations</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-red">
                <div class="inner">
                  <h3>65</h3>
                  <p>Unique Visitors</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
          </div><!-- /.row -->

          <!-- Formulario con tabla basica -->
          <div class="row">
            <div class="col-md-12">
              <div class="box box-warning">
                <div class="box-header with-border">
                  <h3 class="box-title">Lista de Cosas</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <div class="box-body table-responsive">
                  <div ui-view></div>
                </div>
                <div class="box-footer"></div>
              </div>
            </div>
          </div>

          <!-- Formulario Institutions -->
          <div class="row">
            <div class="col-md-12">
              <div class="box box-info">
                <!-- <div class="box-header with-border">
                  <h3 class="box-title">Agregar Institucion</h3>
                </div> --><!-- /.box-header -->
                <form class="form-horizontal">
                  <div class="box-body">
                      <div class="row">
                        <div class="col-md-7">
                          <h4>Agregar Institucion</h4>
                          <!-- text input -->
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Nombre</label>
                            <div class="col-sm-9">
                              <input name="" type="text" class="form-control" placeholder="Nombre">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Pais</label>
                            <div class="col-sm-9">
                              <input name="" type="text" class="form-control" placeholder="Pais">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Region</label>
                            <div class="col-sm-9">
                              <input name="" type="text" class="form-control" placeholder="Region">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Ciudad</label>
                            <div class="col-sm-9">
                              <input name="" type="text" class="form-control" placeholder="Ciudad">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-3 control-label">C. Postal</label>
                            <div class="col-sm-9">
                              <input name="" type="text" class="form-control" placeholder="C. Postal">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Telefono</label>
                            <div class="col-sm-9">
                              <input name="" type="text" class="form-control" placeholder="Telefono">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                              <input name="" type="email" class="form-control" placeholder="Email">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Sitio Web</label>
                            <div class="col-sm-9">
                              <input name="" type="text" class="form-control" placeholder="Sitio Web">
                            </div>
                          </div>
                          <!-- textarea -->
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Descripción</label>
                            <div class="col-sm-9">
                              <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-5">
                          <h4 class="with-border">Director</h4>
                          <!-- text input -->
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Nombres</label>
                            <div class="col-sm-9">
                              <input name="" type="text" class="form-control" placeholder="Nombres">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Apellidos</label>
                            <div class="col-sm-9">
                              <input name="" type="text" class="form-control" placeholder="Apellidos">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Username</label>
                            <div class="col-sm-9">
                              <input name="" type="text" class="form-control" placeholder="Username">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Contraseña</label>
                            <div class="col-sm-9">
                              <input name="" type="password" class="form-control" placeholder="Contraseña">
                            </div>
                          </div>
                        </div>
                      </div>
                  </div><!-- /.box-body -->
                  <div class="box-footer">
                    <button type="submit" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-info pull-right">Guardar</button>
                  </div>
                </form>
              </div><!-- /.box -->
            </div>
          </div>

          <!-- Formulario Profesor -->
          <div class="row">
            <div class="col-md-8">
              <div class="box box-success">
                <div class="box-header with-border">
                  <h3 class="box-title">Registrar Profesor</h3>
                </div><!-- /.box-header -->
                <form class="form-horizontal">
                  <div class="box-body">
                      <div class="form-group">
                        <label class="col-sm-3 control-label">Nombres</label>
                        <div class="col-sm-9">
                          <input name="" type="text" class="form-control" placeholder="Nombre">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">Apellidos</label>
                        <div class="col-sm-9">
                          <input name="" type="text" class="form-control" placeholder="Nombre">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">Pais</label>
                        <div class="col-sm-9">
                          <input name="" type="text" class="form-control" placeholder="Pais">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">Region</label>
                        <div class="col-sm-9">
                          <input name="" type="text" class="form-control" placeholder="Region">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">Ciudad</label>
                        <div class="col-sm-9">
                          <input name="" type="text" class="form-control" placeholder="Ciudad">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">Institución</label>
                        <div class="col-sm-9">
                          <select class="form-control select2">
                            <option selected="selected">Alabama</option>
                            <option>Alaska</option>
                            <option disabled="disabled">California (disabled)</option>
                            <option>Delaware</option>
                            <option>Tennessee</option>
                            <option>Texas</option>
                            <option>Washington</option>
                          </select>
                        </div>
                      </div><!-- /.form-group -->

                      <div class="form-group">
                        <label class="col-sm-3 control-label">Teléfono</label>
                        <div class="col-sm-9">
                          <input name="" type="text" class="form-control" placeholder="Telefono">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                          <input name="" type="email" class="form-control" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">Username</label>
                        <div class="col-sm-9">
                          <input name="" type="text" class="form-control" placeholder="Username">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">Contraseña</label>
                        <div class="col-sm-9">
                          <input name="" type="password" class="form-control" placeholder="Contraseña">
                        </div>
                      </div>
                                             
                  </div><!-- /.box-body -->
                  <div class="box-footer">
                    <button type="submit" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-success pull-right">Guardar</button>
                  </div>
                </form>
              </div><!-- /.box -->
            </div>
          </div>

          <!-- Formulario Circulos -->
          <div class="row">
            <div class="col-md-8">
              <div class="box box-success">
                <div class="box-header with-border">
                  <h3 class="box-title">Agregar Circulo</h3>
                </div><!-- /.box-header -->
                <form class="form-horizontal">
                  <div class="box-body">
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Codigo</label>
                      <div class="col-sm-9">
                        <input name="codigo" type="text" class="form-control" placeholder="Codigo">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Nombre</label>
                      <div class="col-sm-9">
                        <input name="nombre" type="text" class="form-control" placeholder="Nombre">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Pais</label>
                      <div class="col-sm-9">
                        <input name="" type="text" class="form-control" placeholder="Pais">
                      </div>
                    </div>
                    <!-- radio -->
                    <div class="form-group">
                      <div class="col-sm-9 col-sm-offset-3">
                        <label>
                          <input type="radio" name="r1" class="minimal" checked>
                          Publico
                        </label>
                        <label>
                          <input type="radio" name="r1" class="minimal">
                          Privado
                        </label>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Profesor</label>
                      <div class="col-sm-9">
                        <select class="form-control select2">
                          <option selected="selected">Alabama</option>
                          <option>Alaska</option>
                          <option disabled="disabled">California (disabled)</option>
                          <option>Delaware</option>
                          <option>Tennessee</option>
                        </select>
                      </div>
                    </div><!-- /.form-group -->

                                             
                  </div><!-- /.box-body -->
                  <div class="box-footer">
                    <button type="submit" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-success pull-right">Guardar</button>
                  </div>
                </form>
              </div><!-- /.box -->
            </div>
          </div>

          <!-- Formulario Unidad -->
          <div class="row">
            <div class="col-md-12">
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Crear Unidad</h3>
                </div><!-- /.box-header -->
                <form class="form-horizontal">
                  <div class="box-body">
                      <div class="row">
                        <div class="col-md-6">
                          <!-- text input -->
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Titulo</label>
                            <div class="col-sm-9">
                              <input name="" type="text" class="form-control" placeholder="Nombre">
                            </div>
                          </div>
                          <!-- radio -->
                          <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                              <label>
                                <input type="radio" name="r1" class="minimal" checked>
                                Publico
                              </label>
                              <label>
                                <input type="radio" name="r1" class="minimal">
                                Privado
                              </label>
                            </div>
                          </div>
                          <!-- textarea -->
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Descripción</label>
                            <div class="col-sm-9">
                              <textarea class="form-control" rows="4" placeholder="Descripcion"></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <!-- text input -->
                          <div class="form-group">
                            <div class="col-sm-12">
                              <label for="exampleInputFile">Imagen de cubierta obligatoria</label>
                              <input type="file" id="coverImage">
                            </div>
                          </div>
                          <h5>Opcional</h5>
                          <div class="form-group">
                            <div class="col-sm-12">
                              <label for="exampleInputFile">Imagen de fondo</label>
                              <input type="file" id="coverImage">
                            </div>
                          </div>
                        </div>
                      </div>
                  </div><!-- /.box-body -->
                  <div class="box-footer">
                    <button type="submit" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-info pull-right">Guardar</button>
                  </div>
                </form>
              </div><!-- /.box -->
            </div>
          </div>

          <!-- Tabla generica -->
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Table General</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Rendering engine</th>
                        <th>Browser</th>
                        <th>Platform(s)</th>
                        <th>Engine version</th>
                        <th>CSS grade</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Trident</td>
                        <td>Internet
                          Explorer 4.0</td>
                        <td>Win 95+</td>
                        <td> 4</td>
                        <td>X</td>
                      </tr>
                      <tr>
                        <td>Gecko</td>
                        <td>Camino 1.0</td>
                        <td>OSX.2+</td>
                        <td>1.8</td>
                        <td>A</td>
                      </tr>
                      <tr>
                        <td>Gecko</td>
                        <td>Camino 1.5</td>
                        <td>OSX.3+</td>
                        <td>1.8</td>
                        <td>A</td>
                      </tr>
                      <tr>
                        <td>Gecko</td>
                        <td>Netscape 7.2</td>
                        <td>Win 95+ / Mac OS 8.6-9.2</td>
                        <td>1.7</td>
                        <td>A</td>
                      </tr>
                      <tr>
                        <td>Gecko</td>
                        <td>Netscape Browser 8</td>
                        <td>Win 98SE+</td>
                        <td>1.7</td>
                        <td>A</td>
                      </tr>
                      <tr>
                        <td>Gecko</td>
                        <td>Netscape Navigator 9</td>
                        <td>Win 98+ / OSX.2+</td>
                        <td>1.8</td>
                        <td>A</td>
                      </tr>
                      <tr>
                        <td>Gecko</td>
                        <td>Mozilla 1.0</td>
                        <td>Win 95+ / OSX.1+</td>
                        <td>1</td>
                        <td>A</td>
                      </tr>
                      <tr>
                        <td>Gecko</td>
                        <td>Mozilla 1.1</td>
                        <td>Win 95+ / OSX.1+</td>
                        <td>1.1</td>
                        <td>A</td>
                      </tr>
                      <tr>
                        <td>Gecko</td>
                        <td>Mozilla 1.2</td>
                        <td>Win 95+ / OSX.1+</td>
                        <td>1.2</td>
                        <td>A</td>
                      </tr>
                      <tr>
                        <td>Gecko</td>
                        <td>Mozilla 1.3</td>
                        <td>Win 95+ / OSX.1+</td>
                        <td>1.3</td>
                        <td>A</td>
                      </tr>
                      <tr>
                        <td>Gecko</td>
                        <td>Mozilla 1.4</td>
                        <td>Win 95+ / OSX.1+</td>
                        <td>1.4</td>
                        <td>A</td>
                      </tr>
                      <tr>
                        <td>Gecko</td>
                        <td>Mozilla 1.5</td>
                        <td>Win 95+ / OSX.1+</td>
                        <td>1.5</td>
                        <td>A</td>
                      </tr>
                      <tr>
                        <td>Gecko</td>
                        <td>Mozilla 1.6</td>
                        <td>Win 95+ / OSX.1+</td>
                        <td>1.6</td>
                        <td>A</td>
                      </tr>
                      
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Rendering engine</th>
                        <th>Browser</th>
                        <th>Platform(s)</th>
                        <th>Engine version</th>
                        <th>CSS grade</th>
                      </tr>
                    </tfoot>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->

          <!-- Lista de secciones -->
          <div class="row">
            <div class="col-md-12">
              <div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">Lista de Secciones</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <div class="box-group" id="accordion">
                    <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                    <div class="panel box box-primary">
                      <div class="box-header with-border">
                        <div class="input-group input-group-sm">
                          <span class="input-group-btn">
                            <button data-toggle="collapse" data-parent="#accordion" href="#collapseOne" type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i></button>
                          </span>
                          <input type="text" class="form-control">
                          <span class="input-group-btn">
                            <button class="btn btn-success btn-flat" type="button"><i class="glyphicon glyphicon-plus"></i></button>
                          </span>
                          <span class="input-group-btn">
                            <button class="btn btn-info btn-flat" type="button">Guardar</button>
                          </span>
                          <span class="input-group-btn">
                            <button class="btn btn-danger btn-flat" type="button"><i class="fa fa-trash"></i></button>
                          </span>
                        </div><!-- /input-group -->
                        
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="box-body">
                          <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-info"></i> Pagina 1</h4>
                            Info alert preview. This alert is dismissable.
                            <img src="dist/img/user2-160x160.jpg" alt="">
                          </div>
                        
                          <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-info"></i> Pagina 2</h4>
                            Info alert preview. This alert is dismissable.
                            <img src="dist/img/user2-160x160.jpg" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel box box-danger">
                      <div class="box-header with-border">
                        <div class="input-group input-group-sm">
                          <span class="input-group-btn">
                            <button data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i></button>
                          </span>
                          <input type="text" class="form-control">
                          <span class="input-group-btn">
                            <button class="btn btn-success btn-flat" type="button"><i class="glyphicon glyphicon-plus"></i></button>
                          </span>
                          <span class="input-group-btn">
                            <button class="btn btn-info btn-flat" type="button">Guardar</button>
                          </span>
                          <span class="input-group-btn">
                            <button class="btn btn-danger btn-flat" type="button"><i class="fa fa-trash"></i></button>
                          </span>
                        </div><!-- /input-group -->
                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="box-body">
                          <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-info"></i> Pagina 1</h4>
                            Info alert preview. This alert is dismissable.
                            <img src="dist/img/user2-160x160.jpg" alt="">
                          </div>
                        
                          <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-info"></i> Pagina 2</h4>
                            Info alert preview. This alert is dismissable.
                            <img src="dist/img/user2-160x160.jpg" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel box box-success">
                      <div class="box-header with-border">
                        <div class="input-group input-group-sm">
                          <span class="input-group-btn">
                            <button data-toggle="collapse" data-parent="#accordion" href="#collapseThree" type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i></button>
                          </span>
                          <input type="text" class="form-control">
                          <span class="input-group-btn">
                            <button class="btn btn-success btn-flat" type="button"><i class="glyphicon glyphicon-plus"></i></button>
                          </span>
                          <span class="input-group-btn">
                            <button class="btn btn-info btn-flat" type="button">Guardar</button>
                          </span>
                          <span class="input-group-btn">
                            <button class="btn btn-danger btn-flat" type="button"><i class="fa fa-trash"></i></button>
                          </span>
                        </div><!-- /input-group -->
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse">
                        <div class="box-body">
                          <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-info"></i> Pagina 1</h4>
                            Info alert preview. This alert is dismissable.
                            <img src="dist/img/user2-160x160.jpg" alt="">
                          </div>
                        
                          <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-info"></i> Pagina 2</h4>
                            Info alert preview. This alert is dismissable.
                            <img src="dist/img/user2-160x160.jpg" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- /.box-body -->
                <div class="box-footer">
                  <button type="submit" class="btn btn-info pull-right"><i class="glyphicon glyphicon-plus"></i>Nueva Sección</button>
                </div>
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
     </section>

  </div><!-- /.content-wrapper -->