<header class="main-header">

        <!-- Logo -->
        <a href="/#/" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>C</b>S</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Capitan</b>SAVVY</span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <!--a class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a-->
          
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li class="logo" style="width: 230px !important">
                <span class="logo-lg" style="display: block !important; "><b>Capitan</b>SAVVY</span>
              </li>
              <!-- User Account: style can be found in dropdown.less -->
              
              <!-- Control Sidebar Toggle Button -->
              <!--li>
                <a data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
              </li-->
            </ul>
          </div>

        </nav>
      </header>